<div class="top">
  <%= image_tag 'top-background.png',class: "back-image" %>
    <div class="top_language">
      日本の旅をサポート
    </div>
    <div class="select_path">
		  <%= link_to (select_jp_language_path) do %> 
        <%= image_tag 'top_jp_path_image.png', size: '185x50' ,class: "top_jp_path" %>
      <% end %>
	    <%= link_to (select_en_language_path) do %> 
        <%= image_tag 'top_en_path.png', size: '185x50' ,class: "top_en_path" %>
      <% end %>
	    <%= link_to (select_zh_language_path) do %> 
        <%= image_tag 'top_zh_path.png', size: '185x50' ,class: "top_zh_path" %>
      <% end %>
		</div>
		<%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
</div>