<%= render "shared/jp_header" %>
<div class="top">
  <div class="top_background">
    <%= image_tag 'top_jp_back.png', class: "top_jp_background" %> 
    <%= image_tag 'top_en_back.png', class: "top_en_background" %> 
    <%= image_tag 'top_zh_back.png', class: "top_zh_background" %> 
  </div>
  <div class="top_message">
    <div class="top_jp_main_message">
       鉄道旅の指南書
    </div>
    <div class="top_jp_sub_message">
      あなたのパーソナリティにあった鉄道旅を
    </div>
    <div class="top_en_main_message">
      The guidance of a train trip in Japan
    </div>
    <div class="top_en_sub_message">
      Offer a suitable train trip to you
    </div>
    <div class="top_zh_main_message">
      日本火车旅行的指导
    </div>
    <div class="top_zh_sub_message">
      为您提供合适的火车旅行
    </div>
    <div class="select_path">
		  <%= link_to (select_jp_language_path) do %> 
        <%= image_tag 'top_jp_path.png', size: '185x50' ,class: "top_jp_path" %>
        <%= image_tag 'top_jp_click_path.png', size: '185x50' ,class: "top_jp_click_path"%>
      <% end %>
	    <%= link_to (select_en_language_path) do %> 
        <%= image_tag 'top_en_path.png', size: '185x50' ,class: "top_en_path" %>
        <%= image_tag 'top_en_click_path.png', size: '185x50' ,class: "top_en_click_path" %>
      <% end %>
	    <%= link_to (select_zh_language_path) do %> 
        <%= image_tag 'top_zh_path.png', size: '185x50' ,class: "top_zh_path" %>
        <%= image_tag 'top_zh_click_path.png', size: '185x50' ,class: "top_zh_click_path" %>
      <% end %>
		</div>
  </div>  
</div>