<%= render "shared/zh_header" %>
<div class="select">
  <div class="select_background">
    <%= image_tag 'top_zh_back.png',class: "select_zh_background" %>
  </div>
  <div class="select_message">
    <div class="select_zh_main_message">
      日本旅行的指南
    </div>
    <div class="select_zh_sub_message">
      请在下边的按钮中间选择
    </div>
  </div>
  <div class="select_path">
    <% if user_signed_in? %>
      <%= link_to (destroy_user_session_path), method: :delete do %> 
        <%= image_tag 'logout_zh_path.png', size: '185x50' ,class: "login_jp_path" %>
        <%= image_tag 'top_zh_click_path.png', size: '185x50' ,class: "login_jp_click_path"%>
      <% end %>
	    <%= link_to (area_path) do %> 
        <%= image_tag 'toarea_zh_path.png', size: '185x50' ,class: "registration_jp_path" %>
        <%= image_tag 'top_zh_click_path.png', size: '185x50' ,class: "registration_jp_click_path"%>
      <% end %>
    <% else %>
		  <%= link_to (new_user_session_path) do %> 
        <%= image_tag 'login_zh.png', size: '185x50' ,class: "login_zh_path" %>
        <%= image_tag 'top_zh_click_path.png', size: '185x50' ,class: "login_zh_click_path"%>
      <% end %>
	    <%= link_to (new_user_registration_path) do %> 
        <%= image_tag 'registration_zh.png', size: '185x50' ,class: "registration_zh_path" %>
        <%= image_tag 'top_zh_click_path.png', size: '185x50' ,class: "registration_zh_click_path" %>
      <% end %>
    <% end %>
		</div>
  </div>
</div>