<div class="top">
  <%= image_tag 'top-background.png',class: "top-image" %>
    <div class="top_language">
      支持日本旅行！
    </div>
    <div class="select_path">
		  <%= link_to (select_jp_language_path) do %> 
        <%= image_tag 'login_zh_path.png', size: '185x50' ,class: "top_jp_path" %>
      <% end %>
	    <%= link_to (select_en_language_path) do %> 
        <%= image_tag 'registaraion_zh_path.png', size: '185x50' ,class: "top_en_path" %>
      <% end %>
	    <%= link_to (select_zh_language_path) do %> 
        <%= image_tag 'no_login_zh_path.png', size: '185x50' ,class: "top_zh_path" %>
      <% end %>
		</div>
</div>