<div class="top">
  <div class="select_background">
    <%= image_tag 'top_zh_background.png',class: "select_zh_background" %>
  </div>
  <div class="select_message">
    <div class="select_zh_message">
      支持日本旅行！
    </div>
    <div class="select_path">
		  <%= link_to (new_user_session_path) do %> 
        <%= image_tag 'login_zh_path.png', size: '185x50' ,class: "top_jp_path" %>
      <% end %>
	    <%= link_to (new_user_registration_path) do %> 
        <%= image_tag 'registaraion_zh_path.png', size: '185x50' ,class: "top_en_path" %>
      <% end %>
	    <%= link_to (select_zh_language_path) do %> 
        <%= image_tag 'no_login_zh_path.png', size: '185x50' ,class: "top_zh_path" %>
      <% end %>
		</div>
  </div>
</div>