<% if current_user.nationality_id == 1 %>
  <%= render "shared/jp_header" %>
<% elsif current_user.nationality_id == 2 %>	
  <%= render "shared/zh_header" %>
<% else current_user.nationality_id == 3 %>
  <%= render "shared/en_header" %>
<% end %>
<div class='area_top'>
  <div class='area_message'>
	  <%  if current_user.nationality_id == 1 %> 
	    <div class='ja_select_message'>
		    エリアを選択してください! 
		  </div>
			<div class='ja_hokkaido_click_message'>
			  北海道へクリック！
			</div>
			<div class='ja_tohoku_click_message'>
			  東北へクリック！
			</div>
			<div class='ja_kanto_click_message'>
			  関東へクリック！
			</div>
			<div class='ja_hokuriku_click_message'>
			  北陸へクリック！
			</div>
			<div class='ja_tokai_click_message'>
			  東海へクリック！
			</div>
			<div class='ja_kansai_click_message'>
			  関西へクリック！
			</div>
			<div class='ja_chugoku_click_message'>
			  中国へクリック！
			</div>
			<div class='ja_sikoku_click_message'>
			  四国へクリック！
			</div>
			<div class='ja_kyusyu_click_message'>
			  九州へクリック！
			</div>
    <% elsif current_user.nationality_id == 2 %> 
	    <div class='zh_select_message'> 
		    请选择一个地区
		  </div>
			<div class='zh_hokkaido_click_message'>
			  到北海道点击！
			</div>
			<div class='zh_tohoku_click_message'>
			  到東北点击！
			</div>
			<div class='zh_kanto_click_message'>
			  到関東点击！
			</div>
			<div class='zh_hokuriku_click_message'>
			  到北陸点击！
			</div>
			<div class='zh_tokai_click_message'>
			  到東海点击！
			</div>
			<div class='zh_kansai_click_message'>
			  到関西点击！
			</div>
			<div class='zh_chugoku_click_message'>
			  到中国点击！
			</div>
			<div class='zh_sikoku_click_message'>
			 到四国点击！
			</div>
			<div class='zh_kyusyu_click_message'>
			  到九州点击！
			</div>
	  <% else current_user.nationality_id == 3 %>
	     <div class='en_select_message'>
		    please select the area !
		   </div> 
			 <div class='en_hokkaido_click_message'>
		    Just click for hokkaido !
			</div>
			<div class='en_tohoku_click_message'>
		    Just click for tohoku !
			</div>
			<div class='en_kanto_click_message'>
		    Just click for kanto !
			</div>
			<div class='en_hokuriku_click_message'>
		    Just click for hokuriku !
			</div>
			<div class='en_tokai_click_message'>
		    Just click for tokai !
			</div>
			<div class='en_kansai_click_message'>
		    Just click for kansai !
			</div>
			<div class='en_chugoku_click_message'>
		    Just click for chugoku !
			</div>
			<div class='en_sikoku_click_message'>
		    Just click for sikoku !
			</div>
			<div class='en_kyusyu_click_message'>
		    Just click for kyusyu !
			</div>
	  <% end %> 
  </div>
	<div class='area_map'> 
	  <div class='area_back_map'> 
       <%#= image_tag 'top_jp_background.png',class: "area_back-image" %> 
			 <%= image_tag 'top_jp_background.png',class: "area_top_back" %> 
			 <%= image_tag 'hokkaido_back.png', class: "hokkaido_back"%>
			 <%= image_tag 'tohoku_back.png', class: "tohoku_back"%>
			 <%= image_tag 'kanto_back.png', class: "kanto_back"%>
			 <%= image_tag 'hokuriku_back.png', class: "hokuriku_back"%>
			 <%= image_tag 'tokai_back.png', class: "tokai_back"%>
			 <%= image_tag 'kansai_back.png', class: "kansai_back"%>
			 <%= image_tag 'chugoku_back.png', class: "chugoku_back"%>
			 <%= image_tag 'sikoku_back.png', class: "sikoku_back"%>
			 <%= image_tag 'kyusyu_back.png', class: "kyusyu_back"%>
		</div> 
		<div class="area_select_map">
		  <%= image_tag 'reve_jp_map.png',class: "jp_map" %>
			<%= link_to (hokkaido_info_path) do %>
	      <%= image_tag 'hokkaido_map.png', class: "hokkaido_map" %> 
	    <% end  %>
	    <%= link_to (tohoku_info_path) do %>
	      <%= image_tag 'tohoku_map.png', class: "tohoku_map" %>
	    <% end %>
	    <%= link_to (kanto_info_path) do %>
	      <%= image_tag 'kanto_map.png', class: "kanto_map" %>
	    <% end %>
	    <%= link_to (hokuriku_info_path) do %>
	      <%= image_tag 'hokuriku_map.png', class: "hokuriku_map" %>
	    <% end %>
	    <%= link_to (tokai_info_path) do %>
	      <%= image_tag 'tokai_map.png', class: "tokai_map" %>
	    <% end %>
	    <%= link_to (kansai_info_path) do %>
	      <%= image_tag 'kansai_map.png', class: "kansai_map" %>
	    <% end %>
	    <%= link_to (chugoku_info_path) do %> 
	      <%= image_tag 'chugoku_map.png', class: "chugoku_map" %> 
	    <% end %> 
	    <%= link_to (sikoku_info_path) do %>
	      <%= image_tag 'sikoku_map.png', class: "sikoku_map" %>
	    <% end %>
	    <%= link_to (kyusyu_info_path) do %>
	      <%= image_tag 'kyusyu_map.png', class: "kyusyu_map" %>
	    <% end %>  
	  </div>
	</div>
</div>