<div class="en_header">
  <% if user_signed_in? %>
      <%= link_to (select_en_language_path) do %> 
	      <%= image_tag 'top_en_icon.png', size: '185x50' ,class: "select_en_icon" %>
      <% end %>
      <%= link_to (select_en_language_path) do %> 
		    <%= image_tag 'top_en_icon_2.png', size: '185x50' ,class: "select_en_2_icon" %>
      <% end %>
  <% else %>
    <%= link_to (root_path) do %> 
		  <%= image_tag 'top_en_icon.png', size: '185x50' ,class: "select_en_icon" %>
    <% end %>
    <%= link_to (root_path) do %> 
		  <%= image_tag 'top_en_icon_2.png', size: '185x50' ,class: "select_en_2_icon" %>
    <% end %>
  <% end %>  
  <span class="en_nav_toggle">
    <i></i>
    <i></i>
    <i></i>
  </span>
  <nav class="en_nav">
    <ul class="en_nav_menu_li">
      <li class="en_nav_menu_li_1"><%= link_to "Logut", destroy_user_session_path, class: 'en_aaa', method: :delete  %></li>
      <li class="en_nav_menu_li_2"><%= link_to "Contact Us", contact_path, class: 'en_aaa', method: :get %></li>
    </ul>
  </nav>
</div>