<div class="session">
  <div class="sesssion_back">
    <%= image_tag 'top_en_background.png', class: "top_jp_background" %>
  </div>
  <div class="session_form">
    <%= form_with model: @user, url: user_session_path, class: 'new_user', local: true do |f| %>
      <div class="sessions_form">
        <div class="session_message">
          ログイン
        </div> 
        <div class="email_field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true %>
        </div>

        <div class="password_field">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "off" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="remember_field">
            <%= f.label :remember_me %><br />
            <%= f.check_box :remember_me %>
          </div>
        <% end -%>

        <div class="login_form">
          <%= f.submit "Log in" %>
        </div>
      </div>
    <% end %>
  </div>
</div>