<%= render "shared/jp_header" %>
<div class="top">
  <div class="session_back">
    <%= image_tag 'top_jp_back.png', class: "session_en_background" %>
  </div>
  <div class="session_form">
    <%= form_with model: @user, url: user_session_path, class: 'new_user', local: true do |f| %>
      <div class="sessions_form">
        <div class="session_message">
          Login
        </div> 
        <div class="email_field">
          <%= f.label :email %><br/>
          <%= f.email_field :email, placeholder: "enter your Email", autofocus: true, class: "email_blank" %>
        </div>
        <div class="session_email_error">
          @を含んでください
        </div>
        <div class="session_email_ok">
          &#x2705;
        </div>

        <div class="password_field">
          <%= f.label :password %><br />
          <%= f.password_field :password, placeholder: "enter your Password", autocomplete: "off", class: "password_blank" %>
        </div>
        <div class="session_password_error">
          @を含んでください
        </div>
        <div class="session_password_ok">
          &#x2705;
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="remember_field">
            <%= f.label :remember_me %><br />
            <%= f.check_box :remember_me %>
          </div>
        <% end -%>

        <div class="login_form">
          <%= f.submit "Log in" %>
        </div>
      </div>
    <% end %>
  </div>
</div>