<div class="top">
  <%= image_tag 'top-background.png',class: "top-image" %>
    <div class="top_language">
      日本の旅をサポート
    </div>
    <div class="select_path">
		  <%= link_to (new_user_session_path) do %> 
        <%= image_tag 'select_jp_path.png', size: '185x50' ,class: "top_jp_path" %>
      <% end %>
	    <%= link_to (new_user_registration_path) do %> 
        <%= image_tag 'select_registaraion_jp_path.png', size: '185x50' ,class: "top_en_path" %>
      <% end %>
	    <%= link_to (area_path), data: {"turbolinks" => false} do %> 
        <%= image_tag 'select_no_login_jp_path.png', size: '185x50' ,class: "top_zh_path" %>
      <% end %>
		</div>
</div>